.breadcrum {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  padding-top: 40px;
  margin: 0 0 -15px 0;
  margin-left: 20px;
}

.breadcrum-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #ff414115;
  justify-content: flex-start; 
 
}
