.hero-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #ff414115;
}

.hero {
  margin-top: 20px;
  min-height: 80vh; 
  width: 97%;
  background: linear-gradient(180deg, #ff4141, #e1ffea22 80%);
  display: flex;
  flex-wrap: wrap;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  line-height: 1.1;
}

.hero-left h2 {
  color: #090909;
  font-size: 21px;
  font-weight: 550;
}

.hero-left p {
  color: #171717;
  font-size: 50px;
  font-weight: 700;
}

.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-hand-icon img {
  width: 65px;
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 180px;
  height: 45px;
  border-radius: 75px;
  margin-top: 30px;
  background: #ff4141;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 500px;   
  width: 100%;
}

.hero-right img {
  width: 100%;
  height: 100%;
  max-width: 400px;   
  object-fit: contain;
}
